.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /*12 COLOMNS EACH OF 1 FRACTION*/
    grid-template-rows: 40px 200px 40px;
    /* grid-template: repeat(2, 50px) / repeat(3, 1fr);  rows() / columns() */
    grid-gap: 3px;
}

/* structure: grid-column: 2/-1 (rows LINE/columns LINE) --> grid-rows: 1/4 rows/columns*/

.header {
    /* grid-column-start: 2;
    grid-column-end: -1; */

    /*THIS IS A SHORT METHOD:font-size: ;*/
    grid-column: 2 /-1;
}

.menu {
    grid-row: 1 / 4;
}

.content {
    grid-column: 2 / -1;
}

.footer {
    grid-column: 2 / -1;
}